body
{
background: purple;

}
td{
text-align: center;
border: 2px solid black;
}
#k1{
font-size:1.5em;

}
.czer{
color: red;

}

.ziel{
color: green;

}

#menu{
width: 100%;
position:fixed;


}
#menu > p{
text-align: center;


}
.center{
text-align:center;


}
#menu2{
width: 100%;
position:fixed;


}

#menu2 > p{
text-align: center;


}
#lewa {
	
	float:right;
	width:30%;
	
}
#prawa {
	float:right;
	width:30%;
}
.button {
    background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}
